@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(204, 43%, 93%);

}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 10px;
    background-color: white;
    /* display: flex; */
    display: block;
    max-height: 460px;
    max-width: 600px;
    box-shadow: 10px 10px 10px rgb(255, 221, 221);
}
.community{
    width: 100%;
    max-height: 200px;
    padding: 0 0 20px 0;
}
.container .community h2{
    margin-top: 38px;
    margin-left: 35px;
    color:hsl(179, 62%, 43%);
}
h3{
    margin-top: 22px;
    margin-left: 35px;
    color: hsl(71, 73%, 54%);
}
p{
    margin: 20px 35px;
    color: hsl(218, 22%, 67%);
    line-height:normal
}
.subscription{
    display: flex;
}
.box1{
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    /* height: 100%; */
    border-radius: 0 0 0 10px;
    


}
.price{
    display: flex;
    /* justify-content: space-between; */
    margin-left: 35px;
    margin-right: 90px;
    align-items: center;
}
.price .month{
    margin-left: 20px;
}

.container .subscription .box1 h3{
    color: white;
    font-weight: 400;
    margin-top: 45px;
}
.container .subscription .box1 p{
    color: white;
    margin-top: 15px;
    margin-right: 70px;
    font-size: small;
    font-weight: 200;
    line-height: 22px;
}

.box2{
    background-color:hsl(218, 22%, 67%);
    width: 50%;
    /* height: 260px; */
    border-radius: 0 0 10px 0 ;

}
.container .subscription .box2 h3{
    color: white;
    font-weight: 400;
    margin-top: 45px;
}
.container .subscription .box2 p{
    color: white;
    margin-top: 15px;
    margin-right: 70px;
    font-size: small;
    font-weight: 200;
    line-height: 22px;
}
button{
    margin-left: 35px;
    padding: 10px 80px;
    box-shadow: 7px 7px 7px rgb(153, 124, 124);
    border-radius: 5px;
    border: none;
    color: white;
}

@media (max-width:590px){

    .container{
        width: 80%;
        min-height: 100vh;
        /* min-height: 460px; */
        /* height: 90%; */

    }
    .community{
        min-height: 250px;
    }
    .subscription{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .box1{
        width: 100%;
        min-height: 250px;
        border-radius: 0;
    }
    .box2{
        width: 100%;
        /* min-height: 250px; */
        border-radius: 0 0 10px 10px;

    }
}


